<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: common_header(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/resources/assets/css/form-elements.css}">
    <title>Demo</title>
    <link>
</head>
<body>
<header style="overflow: hidden" th:replace="layout :: header"></header>
<div id="location-fields">
    <div style="float:left; width:50%;margin-top:10px;">
        <div id="map" style="width: 100%; height: 100%;min-height: 600px; opacity: 0.7"></div>
    </div>
    <div style="float:right;width:50%">
        <form role="form" autocomplete="off">
            <div style="float: left;width: 50%">
                <div class="control-group" id="wifi-fields">
                    <label class="control-label" for="wifi-field1">WiFi Fields</label>

                    <div id='TextBoxesGroupBssid' style="padding:8px">
                        <div id="TextBoxBssid1">
                            <label for="bssid1"></label><input placeholder="BSSID" type='text' id='bssid1'>
                        </div>
                        <div id="TextBoxSsw1">
                            <label for="ssw1"></label><input placeholder="RSSI" type='text' id='ssw1'>
                        </div>
                        <div id="TextBoxBssid2">
                            <label for="bssid2"></label><input placeholder="BSSID" type='text' id='bssid2'>
                        </div>
                        <div id="TextBoxSsw2">
                            <label for="ssw2"></label><input placeholder="RSSI" type='text' id='ssw2'>
                        </div>
                        <div id="TextBoxBssid3">
                            <label for="bssid3"></label><input placeholder="BSSID" type='text' id='bssid3'>
                        </div>
                        <div id="TextBoxSsw3">
                            <label for="ssw3"></label><input placeholder="RSSI" type='text' id='ssw3'>
                        </div>
                    </div>
                    <input type='button' value='Where am i' id='getButtonWifi'>
                </div>
            </div>
            <div style="float: right; width: 50%">
                <div class="control-group" id="cell-fields">
                    <label class="control-label" for="cell-field1">Cell Fields</label>
                    <div id='TextBoxesGroupSsid' style="padding:8px">
                        <div id="TextBoxMcc1">
                            <label for="mcc1"></label><input placeholder="MCC" type='text' id='mcc1'>
                        </div>
                        <div id="TextBoxMnc1">
                            <label for="mnc1"></label><input placeholder="MNC" type='text' id='mnc1'>
                        </div>
                        <div id="TextBoxLac1">
                            <label for="lac1"></label><input placeholder="LAC" type='text' id='lac1'>
                        </div>
                        <div id="TextBoxCid1">
                            <label for="cid1"></label><input placeholder="CID" type='text' id='cid1'>
                        </div>
                        <div id="TextBoxSsc1">
                            <label for="ssc1"></label><input placeholder="RSSI" type='text' id='ssc1'>
                        </div>
                        <div id="TextBoxMcc2">
                            <label for="mcc2"></label><input placeholder="MCC" type='text' id='mcc2'>
                        </div>
                        <div id="TextBoxMnc2">
                            <label for="mnc2"></label><input placeholder="MNC" type='text' id='mnc2'>
                        </div>
                        <div id="TextBoxLac2">
                            <label for="lac2"></label><input placeholder="LAC" type='text' id='lac2'>
                        </div>
                        <div id="TextBoxCid2">
                            <label for="cid2"></label><input placeholder="CID" type='text' id='cid2'>
                        </div>
                        <div id="TextBoxSsc2">
                            <label for="ssc2"></label><input placeholder="RSSI" type='text' id='ssc2'>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div th:replace="layout :: common_scripts(script)"></div>
<script src="https://api-maps.yandex.ru/2.1/?load=package.standard,package.geoObjects&lang=ru_RU"
        type="text/javascript"></script>
</body>
</html>